doctype html
html
    head
        title Registrar usuario
    body
        form(action="/users" method="POST")
            input(type="email" name="email" placeholder="Correo Electrónico")
            input(type="password" name="password" placeholder="Contraseña")
            input(type="submit" value="Crear Cuenta")