doctype html
html
    head
        title Bienvenido!!!
        
    body
        if user
            h1= user.email
            p
                span Usuarios Conectados:
                span#connected
            form(action="/sessions?_method=DELETE" method="POST")
                input(type="submit" value="Cerrar Sesion")
        else
            h1= "No Está Logueado"
    if user
        script(src="/socket.io/socket.io.js")
        script.
            var socket = io.connect(window.location.origin,{query:`loggeduser=#{user.id}`});
            socket.on('count_updated',function(data){
                console.log(data.count)
                document.querySelector('#connected').innerHTML = data.count
            });

            socket.on('new_task',function(data){
                console.log(data);
            });