doctype html
html
    head
        title "Error 404 - No Encontrado"
    body
        h1= 'Error 404 No se encuentra el sitio'
        p= 'La ruta: ' + url + ' No existe...'
        p= 'IP: ' + ip