doctype html
html
    head
        title Categorias
    body
        form(action=`/categories/${category.id}?_method=PUT` method="POST")
            input(type="text", name="tittle", placeholder="titulo", value= category.tittle)
            input(type="text", name="color", placeholder="color", value= category.color)
            input(type="submit" value="Guardar")