doctype html
html
    head
        title Categorias
    body
        ul
            each category in categories
                li
                    a(href=`\\categories\\${category.id}`)= category.id + " - " + category.tittle + " / " + category.color
