doctype html
html
    head
        title Nueva Categoria
    body
        form(action="/categories" method="POST")
            input(type="text", name="tittle", placeholder="titulo")
            input(type="color", name="color", placeholder="color")
            input(type="submit" value="Guardar")