doctype html
html
    head
        title Categoria
    body
        h1= category.id + " - " + category.tittle
        p= "Color: " + category.color
        p= "Creado: " + category.createdAt
        p= "Modificado: " + category.updatedAt
        form(action=`/categories/${category.id}?_method=DELETE` method="POST")
            input(type="submit" value="Eliminar")