doctype html
html
    head
        title Tareas
    body
        form(action=`/tasks/${task.id}?_method=PUT` method="POST")
            textarea(name="description", cols="30", rows="10", placeholder="Coloca aqui el pendiente a realizar")= task.description
            input(type="text", name="categories" placeholder="ID de categorias separados por comas")
            input(type="submit" value="Guardar")
        