doctype html
html
    head
        title Tareas
    body
        ul
            each task in tasks
                li
                    a(href=`\\tasks\\${task.id}`)= task.id + " - " + task.description
