doctype html
html
    head
        title Tareas
    body
        form(action="/tasks" method="POST")
            textarea(name="description", cols="30", rows="10", placeholder="Coloca aqui el pendiente a realizar")
            input(type="text", name="categories" placeholder="ID de categorias separados por comas")
            input(type="submit" value="Guardar")