doctype html
html
    head
        title Tareas
    body
        h1= task.id + " - " + task.description
        p= "Creado: " + task.createdAt
        p= "Modificado: " + task.updatedAt
        p
            strong Autor:
            span= task.user.email
        ul
            each category in task.categories
                li= category.tittle
        form(action=`/tasks/${task.id}?_method=DELETE` method="POST")
            input(type="submit" value="Eliminar")