doctype html
html
    head
        title Iniciar Sessión
    body
        form(action="/sessions" method="POST")
            input(type="email" name="email" placeholder="Correo Electrónico")
            input(type="password" name="password" placeholder="Contraseña")
            input(type="submit" value="Iniciar Sesión")